<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    <link href="~/Content/aircaddy-main-overrides.css" rel="stylesheet"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <center><input onclick="navigateToHome()" type="image" img src="~/Content/GolfCourses/AirCaddyLogoCenter1.png"  alt="AirCaddyLogo" style="max-width:180px; margin-top:+1px" name="AirCaddyLogo" class="btTxt submit" id="homeForm" /></center>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Explore Courses", "Browse", "GolfCourses")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Courses<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Make New Course Request", "MakeRequest", "Privileges")</li>
                        <li role="separator" class="divider"></li>
                        <li>@Html.ActionLink("Manage My Courses/Requests", "Index", "Privileges")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Manage Requests", "ManageRequests", "Privileges")</li>
                    </ul>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <div class="text-center">
            <p>&copy; @DateTime.Now.Year - AirCaddy Application</p>
        </div>
    </footer>
</div>

<!--Scripts.Render("~/bundles/jquery")
Scripts.Render("~/bundles/bootstrap")-->
@RenderSection("scripts", required: false)
<script>
    function navigateToHome() {
        var homeUrl = '@Url.Action("Index", "Home")';
        window.location.href = homeUrl;
    }
</script>
</body>
</html>
